a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_23c309f5 a { text-decoration: none; }
#menu_23c309f5_pane { background-color: #2C2C2C; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_23c309f5_hr { background-color: #646464; height: 1px; border: none; }
#menu_23c309f5_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_23c309f5_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_23c309f5_entry:hover span { color:#FFFFFF !important; }
		.menu_23c309f5_mainMenuEntry { text-align: center; }
		.menu_23c309f5_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_23c309f5_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_23c309f5 .mobileEntry { display: none; } 
		#menu_23c309f5 .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_23c309f5 .mobileEntry { display: block; } 
			#menu_23c309f5 .normalEntry { display: none; } 
		}
#button_36e1e858 { box-sizing: border-box; vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:310px; height:40px; background-color:rgba(255, 255, 255, 0.196078); border: 2px solid #FFFFFF;  }
#button_36e1e858:hover { background-color:rgba(255, 255, 255, 0.196078); border-color:#CDCDCD;  }
#button_36e1e858:hover span { color:#000000; }
#button_2b8ad0d3 { box-sizing: border-box; vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; width:150px; height:40px; background-color:rgba(170, 150, 123, 0.298039); border: 2px solid #5E5851;  }
#button_2b8ad0d3:hover { background-color:rgba(255, 255, 255, 0.298039); border-color:#CDCDCD;  }
#button_2b8ad0d3:hover span { color:#000000; }
#button_594183a4 { box-sizing: border-box; vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; width:150px; height:40px; background-color:rgba(170, 150, 123, 0.298039); border: 2px solid #5E5851;  }
#button_594183a4:hover { background-color:rgba(255, 255, 255, 0.298039); border-color:#CDCDCD;  }
#button_594183a4:hover span { color:#000000; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3bf7972b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background:none;  }
#container_5c19d71c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#2C2C2C;  }
#container_5c19d71c_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_3bd38d17 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_3bd38d17_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:'Bolts SF'; color:#FFFFFF; font-weight:bold;  }
#container_2cec44a1 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_2cec44a1_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_23c309f5 { vertical-align: bottom; position:relative; display: inline-block; width:288px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:39px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:50px;  }
.textstyle5 { font-size:28pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:62px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle6 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:47px; height:38px; left:72px;  }
.style6 { position:absolute; width:53px; height:38px; left:119px;  }
.style7 { position:absolute; width:112px; height:38px; left:172px;  }
#container_14f6314d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:475px; background-color:#AA967B; background-image: url(rc_images/image0_1024x576.jpg); background-position:center center; background-size:cover;  }
#container_14f6314d_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_59299990 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_59299990_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle9 { font-size:32pt; font-family:'Bolts SF'; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
#container_5ab47418 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5ab47418_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:15pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle11 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle12 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle13 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle14 { font-size:32pt; font-family:Verdana, Geneva, sans-serif; color:#20242E;  }
.textstyle15 { font-size:32pt; font-family:Verdana, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle16 { font-size:15pt; font-family:Verdana, Geneva, sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle17 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle18 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#img_7491c345 { position:absolute; left:44%; top:49%; width:11%; background:none;  }
#container_15ebf00e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:496px; background-color:#2C2C2C;  }
#container_15ebf00e_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle20 { font-size:32pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle21 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle22 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle23 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
#img_577fb826 { position:absolute; left:7%; top:34%; width:13%; background:none;  }
#img_10377463 { position:absolute; left:27%; top:38%; width:15%; background:none;  }
.textstyle24 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
#img_3c572937 { position:absolute; left:74%; top:34%; width:17%; background:none;  }
#img_5945b637 { position:absolute; left:52%; top:37%; width:15%; background:none;  }
#container_51dd1a2f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_51dd1a2f_padding { margin: 10px; display: block;  }
.textstyle25 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_5ed68884 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5ed68884_padding { margin: 10px; display: block;  }
#container_4d2e226d { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_4d2e226d_padding { margin: 10px; display: block;  }
.textstyle26 { font-size:12pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
.textstyle27 { font-size:10pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#container_18a61349 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_18a61349_padding { margin: 10px; display: block;  }
#img_40f6f92b { position:absolute; left:70%; top:2%; width:30%; background:none;  }
#container_355a9811 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_355a9811_padding { margin: 10px; display: block;  }
#img_597c7e48 { position:absolute; left:71%; top:2%; width:28%; background:none;  }
@media only screen and (max-width: 640px)
{
		#container_3bd38d17 * span { font-size:15pt;  }
		#menu_23c309f5 { width:60px;  }
		#container_59299990 * span { font-size:24pt;  }
		#container_5ab47418 * span { font-size:12pt;  }
}
@media only screen and (max-width: 450px)
{
		#container_4d2e226d { width:100%;  }
		#container_18a61349 { width:100%;  }
		#container_355a9811 { width:100%;  }
}
